.topping-option-container {
  display: flex;
}
#pizzaForm, .error {
  display: none;
}
.error {
  color: red;
  font-size: 14px;
}
.error-border {
  border-color: red;
}

.order-receipt .row{
  flex-direction: column;
}
